.about-block {
	padding-bottom: 260px;
	&__background-block {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: -100px;
			width: 100%;
			max-width: 1545px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			background-color: #FF6058;
		}
	}
	&__content-block {
		padding-left: 3px;
	}
	.icon--building {
		display: block;
		flex-shrink: 0;
		width: 90px;
		height: 90px;
		margin-top: 182px;
		margin-bottom: 51px;
	}
	&__title {
		display: block;
		font-size: 36px;
		line-height: 1.278;
		font-weight: 700;
		color: #fff;
		margin-bottom: 23px;
	}
	&__text {
		display: block;
		width: 100%;
		max-width: 420px;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.67;
		color: #fff;
	}
	&__text p {
		margin: 0;
	}
	&__form {
		width: 100%;
		margin-top: 100px;
	}
	&__input-wrapper {
		position: relative;
		width: 100%;
		max-width: 600px;
		margin-bottom: 30px;
	}
	&__input {
		width: 100%;
    padding-top: 39px;
    padding-bottom: 11px;
    font-size: 20px;
    line-height: 1.5;
    &:focus, &:active {
    	background-color: #FFFA7E;
    }
	}
	&__label {
		position: absolute;
		top: 25px;
		left: 20px;
		pointer-events: none;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.5;
		color: #333;
		backface-visibility: hidden;
		transition: all 0.15s ease-in-out;
	}
	&__input-wrapper input.not-empty + label, 
	&__input-wrapper input:focus + label {
		margin-top: -17px;
		font-size: 14px;
		line-height: 1.9;
		font-weight: 500;
		color: #FF6058;
	}
	&__personal-info {
		display: block;
		margin-top: 32px;
		margin-bottom: 63px;
		font-size: 14px;
		line-height: 1.9;
		font-weight: 400;
		color: #F2F2F2;
	}
}