.btn {
	position: relative;
	outline: none !important;
	border: none;
	cursor: pointer;
	text-decoration: none !important;
	background: none;
	-webkit-appearance: none;
	
	display: inline-block;
	width: 100%;
	color: #fff;
	background-color: #225560;
	box-shadow: 0px 0px 20px rgba(164, 44, 38, 0.3);
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	font-family: 'SFProDisplay', sans-serif;
	font-size: 20px;
	line-height: 1.2;
	height: auto;
	letter-spacing: 0;
	font-weight: 700;
	
	-webkit-transform: translateZ(0px);
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	padding-top: 28px;
	padding-bottom: 28px;
	
	border: none;
	
	transition: all 0.3s ease-in-out;
	
	> * {
		line-height: 1;
	}
	
	&:hover {
		box-shadow: none;
		color: #FF6058;
		background-color: #fff;
	}
	
	&:active,
	&:focus,
	&:hover {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none !important;
	}
}

.btn--order {
	width: 280px;
}

.btn--send {
	width: 210px;
}

.btn--stu {
	display: block;
	margin: 0 auto;
	width: 280px;
	background-color: #FF6058;
	font-size: 18px;
	line-height: 1.167;
	padding-top: 25px;
	padding-bottom: 24px;
	&:hover, &:active, &:focus {
		box-shadow: 0px 0px 20px rgba(120, 120, 120, 0.3);
		border-radius: 10px;
	}
}