.main-page-wrap {
	position: relative;
	display: block;
	min-height: 100vh;
}

.main-page-blocks {
	width: 100%;
	flex-shrink: 0;
}

// body.scrolled .page-header {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	transform: translateY(0);
// 	z-index: 1000;
// }

.page-header {
	width: 100%;
	position: relative;
	z-index: 100;
	padding-top: 61px;
	padding-bottom: 15px;
	background-color: #FF6058;
	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-left: 47px;
		padding-right: 60px;
	}
	&__logo {
		display: inline-block;
		img {
			display: block;
			width: 282px;
			min-width: 282px;
			height: 28px;
			object-fit: contain;
			margin-bottom: 4px;
		}
		span {
			display: block;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.1875;
			letter-spacing: 0.165em;
			text-transform: uppercase;
			color: #fff;
		}
	}
	&__phone-link {
		position: relative;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.2;
		color: #fff;
		padding-left: 30px;
		&::before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			width: 1px;
			height: 20px;
			background-color: #C4C4C4;
		}
	}
	&__toggle {
		display: none;
	}
}








