.regulations-block {
	&__wrapper {
		position: relative;
		margin-top: -60px;
		background-color: #fff;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		padding: 70px 70px 30px 70px;
	}
	.icon--fire-alarm {
		display: block;
		flex-shrink: 0;
		margin-bottom: 30px;
	}
	&__content-text {
		position: relative;
		display: block;
		max-width: 600px;
		width: 100%;
		font-size: 24px;
		font-weight: 400;
		line-height: 1.67;
		color: $gray-color;
		z-index: 10;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: -65px;
			width: 1px;
			height: 100%;
			background-color: #E0E0E0;
		}
		&::after {
			content: '';
			position: absolute;
			top: 22px;
			right: 2px;
			width: 450px;
			height: 20px;
			background-color: #FFFA7E;
			z-index: -1;
		}
	}
	&__content-text p {
		margin: 0;
		margin-bottom: 30px;
	}
	&__content-title {
		display: block;
		margin-top: 130px;
		font-size: 30px;
		font-weight: 700;
		line-height: 1.2;
		color: #333;
		margin-bottom: 36px;
	}
	&__laws-block {
		display: block;
		font-size: 18px;
		line-height: 1.67;
		font-weight: 400;
		color: $gray-color;
	}
	&__laws-block p {
		margin: 0;
		margin-bottom: 20px;
	}
}