.requirements-block {
	padding-top: 160px;
	padding-bottom: 160px;
	&__title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin: 0;
		padding-bottom: 20px;
		max-width: 500px;
		font-size: 36px;
		line-height: 1.278;
		font-weight: 700;
		color: #333;
	}
	&__title span {
		position: relative;
		display: block;
		z-index: 10;
		padding-left: 14px;
		padding-right: 14px;
		margin-left: -14px;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 20px;
			background-color: #FFFA7E;
			z-index: -1;
		}
	}
	&__list {
		display: block;
		width: 100%;
	}
	&__card {
		display: flex;
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 61px;
		}
	}
	&__card-icon {
		margin-right: 30px;
	}
	&__card-title {
		display: block;
		margin-bottom: 15px;
		font-size: 24px;
		line-height: 1.2083;
		font-weight: 500;
		color: #000;
	}
	&__card-list ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.67;
		color: $gray-color;
	}
	&__photo-block {
		position: relative;
		margin-top: 141px;
		min-height: 530px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		img {
			position: absolute;
			right: 0;
			width: 1545px;
			height: 530px;
			object-fit: contain;
		}
	}
}