<footer class="page-footer">
	<div class="page-footer__top-part">
		<div class="container">
			<div class="row">
				<div class="page-footer__wrapper">
					<a href="index.html" class="page-header__logo">
						<img src="img/logo.png" alt="">
					</a>
					<div class="page-footer__tel-block">
						<a href="tel:+79184888675" class="page-footer__phone-link">+7 (918) 488-86-75</a>
						<a href="tel:+78612034543" class="page-footer__phone-link">+7 (861) 203-45-43</a>
					</div>
					<span class="page-footer__copyright">Авангард  - © 2019</span>
				</div>
			</div>
		</div>
	</div>
	<div class="page-footer__bottom-part">
		<div class="container">
			<div class="row">
				<div class="page-footer__wrapper">
					<a href="#" class="page-footer__privacy-link">Политика конфиденциальности</a>
					<a href="#" class="page-footer__author-link">
						<span>Сделано в </span>
						<svg width="100" height="23">
							<use xlink:href="#copyright"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>