<header id="header" class="page-header">
	<div class="page-header__row">
		<a href="index.html" class="page-header__logo">
			<img src="img/logo.png" alt="">
		</a>
		<div class="page-header__tel-block">
			<a href="tel:+79184888675" class="page-header__phone-link">+7 (918) 488-86-75</a>
			<a href="tel:+78612034543" class="page-header__phone-link">+7 (861) 203-45-43</a>
		</div>
		<a href="tel:+78612034543" class="page-header__toggle">
			<svg width="24" height="24">
				<use xlink:href="#call"></use>
			</svg>
		</a>
	</div>
</header>





